$font-primary:'Libre Franklin', sans-serif;

$color-primary:hsl(223, 87%, 63%);
$color-secondary:hsl(223, 100%, 88%);
$color-alt:hsl(354, 100%, 66%);

$color-gray:hsl(0, 0%, 59%);
$color-dark-blue:hsl(209, 33%, 12%);